<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <!-- le agrego el th:fragment="nombre que le quiera poner" -->



    <nav th:fragment="navbar"  class="font-robo navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">UPGYM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a  class="nav-link" th:href="@{/login/elegir}">Registrarse</a>
                    </li>


                    <!--<li class="nav-item dropdown">
                          <a id="dropdown-autores" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Crear Cuenta</a>
              
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown-autores">
                            <li>
                              <a class="dropdown-item" th:href="@{/usuarios/crear}">Soy Cliente</a>
                            </li>
              
                            <li>
                              <a class="dropdown-item" th:href="@{/gimnasios/crear}">Gimnasio</a>
                            </li>
                          </ul>
                        </li>-->

                </ul>
                <ul class="navbar-nav mr-auto">
                    <li sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-warning" th:href="@{/login}">Iniciar Sesion</a>
                    </li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span sec:authentication="name"></span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a  sec:authorize="hasRole('USUARIO')" class="dropdown-item" th:href="@{/usuarios/perfil}">Perfil</a></li>
                            <li><a  sec:authorize="hasRole('GIMNASIO')" class="dropdown-item" th:href="@{/gimnasios/perfil}">Perfil</a></li>
                            <li><a sec:authorize="hasRole('USUARIO')" class="dropdown-item" th:href="@{/reservas/usuario}">Mis Reservas</a></li>
                            <li><a sec:authorize="hasRole('GIMNASIO')" class="dropdown-item" th:href="@{/reservas/gimnasio}">Mis Reservas</a></li>
                            <form th:action="@{/logout}" method="post">
                                <button class="dropdown-item" type="submit">Cerrar Sesion</button>
                            </form>
                        </ul>
                    </li>
                </ul>

                <!--                <div class="nav-link" th:if="${action == 'guardar'}">
                                        <FONT COLOR="white"><a th:text="'¡ Hola'"></a> 
                                        <tr th:each="usuario : ${usuarios}">
                                            <td th:text="${usuario.nombre}"></td>
                                        </tr> 
                                        <a th:text="'!'"></a>
                                        </FONT>
                                    </div>-->
                <!--
                                    <a class="btn btn-outline-success" sec:authorize="hasRole('USUARIO')" th:href="@{/login(logout)}" th:text="Cerrar Sesión"></a>-->

                <!--                <form th:action >
                                        <button class="btn btn-outline-success" 
                                    </form>
                    
                                    <li sec:authorize="hasRole('USUARIO')">
                                        <a class="btn btn-outline-success" th:href="${action == 'guardar'}? '/login?logout' : '/login'  " th:text="${action == 'guardar'} ? 'Cerrar Sesión' : 'Iniciar Sesión'"></a>
                                    </li>-->

            </div>
        </div>
    </nav>

    <!-- navbar de Staff-->

    <nav th:fragment="navbar-Staff-Horarios"  class="font-robo navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">UPGYM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a  class="nav-link" th:href="@{/login/elegir}">Registrarse</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="https://www.nutrinfo.com">Nutrición</a>
                    </li>
                    <li>
                        <a class="nav-link" href="https://lawebdelasalud.com">Salud</a>
                    </li>


                </ul>
                <ul class="navbar-nav mr-auto">
                    <li sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-warning" th:href="@{/login}">Iniciar Sesion</a>
                    </li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span sec:authentication="name"></span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" th:href="@{/reservas/mias}">Mis Reservas</a></li>
                            <form th:action="@{/logout}" method="post">
                                <button class="dropdown-item" type="submit">Cerrar Sesion</button>
                            </form>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




<!-- le agrego el th:fragment="nombre que le quiera poner" -->


    <footer id="footer" th:fragment="footer">


        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">UpGym</h2>
                <p>Copyright (c) 2021 UPGYM Todos los derechos reservados.</p>
            </div>
            <div class="social-media">
                <a href="https://www.instagram.com/upgym_arg/?hl=es-la" class="social-media-icon">
                    <i class='bx bxl-instagram' ></i>
                </a>
                <a href="https://open.spotify.com/playlist/5UF7vvIRJ38uDrgffvFhxY?si=f806a0d9431247bd" class="social-media-icon">
                    <i class='bx bxl-spotify' ></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-youtube' ></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>


    <!--        <p class="float-end"><a href="#">Volver al Inicio</a></p>
    
            <span class="copyright">En UpGym cuidamos tu salud, por eso te recordamos que tu apto médico es indispensable al
                momento de iniciar una actividad física (leyes nº 139 y 12329) <br>
                    Copyright (c) 2021 UPGYM Todos los derechos reservados.
                    <br>
                        <div class="text-left">
                            <div class="col-sm-4 offset-md-1 py-4">
                                <h4 class="text-black">Contact</h4>
                                <ul class="list-unstyled">
                                    <li><a href="https://www.instagram.com/upgym_arg/?hl=es-la" class="text-black">Follow on Instagram</a>
                                    </li>
                                    <li><a href="https://open.spotify.com/playlist/5UF7vvIRJ38uDrgffvFhxY?si=f806a0d9431247bd"
                                           class="text-black">Like on Spotify</a></li>
    
                                    <li><a href="#" class="text-black">Email me</a></li>
                                </ul>
                            </div>
                            <a href="" style="margin-right:10px;">Términos y condiciones</a>
                            <a href="">Solicitar Baja</a>
                        </div>
                        </span>-->






</html>
