<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    <!-- le agrego el th:fragment="nombre que le quiera poner" -->


  
     <nav th:fragment="navbar"  class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">UPGYM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">Crear cuenta</a>
            </li>
            <!--<li class="nav-item dropdown">
              <a id="dropdown-autores" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Crear Cuenta</a>
  
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown-autores">
                <li>
                  <a class="dropdown-item" th:href="@{/usuarios/crear}">Soy Cliente</a>
                </li>
  
                <li>
                  <a class="dropdown-item" th:href="@{/gimnasios/crear}">Gimnasio</a>
                </li>
              </ul>
            </li>-->
        
           </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Busqueda">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>




    <!-- le agrego el th:fragment="nombre que le quiera poner" -->


    <footer th:fragment="footer" class="container">
        <p class="float-end"><a href="#">Volver al Inicio</a></p>

        <span class="copyright">En UpGym cuidamos tu salud, por eso te recordamos que tu apto médico es indispensable al
            momento de iniciar una actividad física (leyes nº 139 y 12329) <br>
            Copyright (c) 2021 UPGYM Todos los derechos reservados.
            <br>
            <div class="text-left">
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-black">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.instagram.com/upgym_arg/?hl=es-la" class="text-black">Follow on Instagram</a>
                        </li>
                        <li><a href="https://open.spotify.com/playlist/5UF7vvIRJ38uDrgffvFhxY?si=f806a0d9431247bd"
                               class="text-black">Like on Spotify</a></li>

                        <li><a href="#" class="text-black">Email me</a></li>
                    </ul>
                </div>
                <a href="" style="margin-right:10px;">Términos y condiciones</a>
                <a href="">Solicitar Baja</a>
            </div>
        </span>

    </footer>




</html>
