<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="default">

  <colgroup>

  <colgroup span="2" style="background: rgba(128, 255, 0, 0.3); border: 1px solid rgba(100, 200, 0, 0.3);">

  <colgroup span="2" style="background: rgba(255, 128, 0, 0.3); border: 1px solid rgba(200, 100, 0, 0.3);">

  <tr>

    <th></th>

    <th colspan="2">Mike</th>

    <th colspan="2">Tara</th>

  </tr>

  <tr>

    <th></th>

    <th>Primera prueba</th>

    <th>Segunda prueba</th>

    <th>Primera prueba</th>

    <th>Segunda prueba</th>

  </tr>

  <tr>

    <th>Día 1</th>

    <td>25 km</td>

    <td>38 km</td>

    <td>28 km</td>

    <td>37 km</td>

  </tr>

  <tr>

    <th>Día 2</th>

    <td>22 km</td>

    <td>35 km</td>

    <td>30 km</td>

    <td>35 km</td>

  </tr>

</table>
    </body>
</html>
